<?xml version="1.0" encoding="UTF-8" ?>

@model IEnumerable<AppleStore.Models.San_Pham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p style="text-align:center">
    @Html.ActionLink("Thêm mới sản phẩm", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangthai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaydanghinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loai_San_Pham.tenloaiSP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenSP)
            </td>
            <td>
                <div><img src="@Url.Content("~/Images/"+item.hinh)" width="80" height="60" /></div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangthai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaydanghinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai_San_Pham.tenloaiSP)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
