@model PagedList.IPagedList<AppleStore.Models.San_Pham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {};
            model.id = $("#proid").val();
            model.Quantity = 1;
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: JSON.stringify(model),
                dataType: "Json",
                contentType: "application/json; charset = utf-8",
                success: function () {
                    alert("Thên giỏ hàng thành công!")
                    $('#CartCount').text(@Session["count"] + 1);
                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
</script>
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12" style=" text-align:center">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    @ViewBag.ThongBaoo
                </div>
            </div>
        </div>
        <div class="row product-lists">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center strawberry">
                    <div class="single-product-item">
                        <input type="hidden" value="@item.id" id="proid" />
                        <div class="product-image">
                            <a href="@Url.Action("DetailsPro","Home", new { id = item.id})"><img src="@Url.Content("~/Images/"+item.hinh)" alt=""></a>
                        </div>
                        <div>
                            <div class="featured__item__text">
                                <h6></h6>


                            </div>
                        </div>
                        <h3>@item.tenSP </h3>
                        <p class="product-price"><span></span>@item.gia.GetValueOrDefault(0).ToString("N0") VND/@item.mota</p>
                        <a href="@Url.Action("Cart","Cart")" id="addtocart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            }


        </div>
        <div class="product__pagination">

        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul style="display: inline-block">
                        @Html.PagedListPager(Model, page => Url.Action("Search", "Search", new { page, @tukhoa = ViewBag.TuKhoa }))

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
