@using AppleStore.Models;
@model San_Pham
@{
    ViewBag.Title = "DetailsPro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {};
            model.id = @Model.id;
            model.Quantity = $("#ipQuantity").val();
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: JSON.stringify(model),
                dataType: "Json",
                contentType: "application/json; charset = utf-8",
                success: function () {
                    alert("Thên giỏ hàng thành công!")
                    $('#CartCount').text(@Session["count"] + 1);
                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function () {

        $("#removecart").click(function (e) {
            e.preventDefault();
            $.ajax({
                data: { id: $(this).data('id') },
                url: '@Url.Action("Remove", "Cart")',
                dataType: "json",
                type: 'POST',
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "@Url.Action("Index", "Cart")"
                    }

                }
            });
        });
    });
</script>
                <div class="single-product mt-150 mb-150">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="single-product-img">
                                    <img src="~/Images/@Model.hinh" alt="">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="single-product-content">
                                    <h3>@Model.tenSP</h3>
                                    <p class="single-product-pricing"><span></span>@Model.gia.GetValueOrDefault(0).ToString("N0") VND</p>
                                    <p>@Model.mota</p>



                                    <div class="single-product-form">
                                        <form action="#">
                                            <input type="number" id="ipQuantity" placeholder="1" value="1" min="1">
                                        </form>
                                        <a href="#" id="addtocart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                        <p><strong>Thuộc dòng: </strong>@Model.Loai_San_Pham.tenloaiSP</p>
                                    </div>



                                    <h4>Share:</h4>
                                    <ul class="product-share">
                                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

