@using AppleStore.Models;
@model San_Pham
@{
    ViewBag.Title = "DetailsPro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="~/Images/@Model.hinh" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>@Model.tenSP</h3>
                    <p class="single-product-pricing"><span></span>@Model.gia.GetValueOrDefault(0).ToString("N0") VND</p>
                    <p>@Model.mota</p>
                    <div class="single-product-form">
                        <form action="#">
                            <input type="number" placeholder="1">
                        </form>
                        <a href="@Url.Action("Cart","Cart")" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        <p><strong>Thuộc dòng: </strong>@Model.Loai_San_Pham.tenloaiSP</p>
                    </div>
                    <h4>Share:</h4>
                    <ul class="product-share">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

