@model PagedList.IPagedList<AppleStore.Models.San_Pham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";

}

<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        @Html.Action("Categories", "Categories")
                         
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="row product-lists">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center strawberry">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="@Url.Action("DetailsPro", new { id = item.id})"><img src="@Url.Content("~/Images/"+item.hinh)" alt=""></a>
                        </div>
                        <div>
                            <div class="featured__item__text">
                                <h6></h6>
                                

                            </div>
                        </div>
                        <h3>@item.tenSP </h3>
                        <p class="product-price"><span></span>@item.gia.GetValueOrDefault(0).ToString("N0") VND</p>
                        <a href="@Url.Action("Cart","Cart")" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            }


        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul style="display: inline-block">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page })) 
                       
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>
