@model PagedList.IPagedList<AppleStore.Models.San_Pham>
@using PagedList.Mvc;
@using AppleStore.Models;
@{
    ViewBag.Title = "Trang chủ";

}

<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                       
                        @Html.Action("Categories", "Categories")


                    </ul>
                </div>
            </div>
        </div>
        <div class="row product-lists">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center strawberry">
                    <div class="single-product-item">
                        <input type="hidden" value="@item.id" id="proid" />
                        <div class="product-image">
                            <a href="@Url.Action("DetailsPro", new { id = item.id})"><img src="@Url.Content("~/Images/"+item.hinh)" alt=""></a>
                        </div>
                        <div>
                            <div class="featured__item__text">
                                <h6></h6>


                            </div>
                        </div>
                        <h3>@item.tenSP </h3>
                        <p class="product-price"><span></span>@item.gia.GetValueOrDefault(0).ToString("N0") VND</p>
                        <a onclick="AddToCart(@item.id)" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            }


        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul style="display: inline-block">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function AddToCart(id_pr) {
        var model = {};
        model.id = id_pr;
        model.Quantity = 1;
        $.ajax({
            type: "POST",
            url: "/Cart/AddToCart",
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                alert("Thêm vào giỏ hàng thành công!");
                var cartCount = parseInt($('#CartCount').text()) || 0;
                $('#CartCount').text(cartCount + 1);
            },
            error: function () {
                alert("Lỗi trong khi thêm vào giỏ hàng!");
            }
        });
        return false;

    }
</script>